/*UTILITY*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
:root {
    --white: #F7F7F7;
    --black: #141414;
    --green: #24BD86;
    --blue: #0D567F;
    --orange: #BD7724;
    --purple: #BD249B;
}

/*FONT UTILITY*/
html {
    font-size: 16px;
}
h1 {
    font-weight: 800;
    font-size: 2.75rem;
}
h2 {
    font-weight: 600;
    font-size: 2.25rem;
}
h3 {
    font-weight: 600;
    font-size: 2rem;
}
h4 {
    font-weight: 500;
    font-size: 1.75rem;
}
h5 {
    font-weight: 500;
    font-size: 1.25rem;
}
p, a {
    font-weight: 400;
    font-size: 1rem;
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--white);
}

/*NAVBAR*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 1rem;
    left: 0;
    right: 0;
}
#navbar {
    width: 75rem;

    border: 1px solid #000;
    border-radius: 1.8rem;
    background: linear-gradient(93deg, rgba(20, 20, 20, 0.50) 32.55%, rgba(20, 20, 20, 0.40) 70.42%);
    backdrop-filter: blur(20px);
}
.navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}
.navigation-content-left img {
    width: 10rem;
}
.navigation-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.navigation-content-right a {
    color: var(--white);
    transition: 0.15s ease-in-out;
}
.navigation-content-right a:hover {
    transition: 0.15s ease-in-out;
}
.navigation-content-right a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--green);
    transform: scaleX(0);
    transition: 0.15s ease-in-out;
}
.navigation-content-right a:hover::after {
    transform: scaleX(1);
    transition: 0.15s ease-in-out;
}
.hamburger-menu {
    display: none;
}

/*HERO SECTION*/
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: url("../asset/hero-image.png") no-repeat;
    background-size: cover;
    background-position-y: -16rem;
    color: var(--white);
}
#hero:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 80vh;
    background: linear-gradient(263deg, rgba(0, 0, 0, 0.00) -51.47%, #000 118.19%);
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65rem;
    gap: 3rem;
    z-index: 1;
    margin: 6rem 5rem 0 5rem;
}
.bottom-hero-content {
    height: 5rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    text-align: justify;
}
.bottom-hero-content img {
    width: 1.5rem;
    transition: 0.15s ease-in-out;
}
.bottom-hero-content img:hover {
    transform: translateY(-0.5rem);
    transition: 0.15s ease-in-out;
}
.hero-content p {
    max-width: 30rem;
    text-align: justify;
}

/*ABOUT US*/
#about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 20rem;
    background: url("../asset/pattern-3.png");
    mix-blend-mode: multiply;
}
.about-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 5rem;

    position: relative;
    top: 3rem;
    max-width: 40rem;
    text-align: justify;
}
.company-glimpse {
    display: flex;
    flex-wrap: wrap;
    width: 36rem;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    top: 5.5rem;
}
.glimpse-box {
    width: 12rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    color: var(--white);
}
.glimpse-box h3 {
    font-size: 3rem;
}
.glimpse-box.one {
    background: var(--green);
}
.glimpse-box.two {
    background: var(--orange);
}
.glimpse-box.three {
    background: var(--blue);
}

/*SERVICE*/
#services {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.service {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.service-type-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 2rem;
}
.title-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28rem;
    height: 7rem;
    border-radius: 2rem;
}
.title-box {
    position: relative;
    overflow: hidden;
}

.title-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
}
.title-box.blue::before {
    background: url("../asset/pattern-2.png") center/cover no-repeat;
}
.title-box.green::before {
    background: url("../asset/pattern-1.png") center/cover no-repeat;
}
.title-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.title-box.blue::after {
    background-color: var(--blue);
}
.title-box.green::after {
    background-color: var(--green);
}
.title-box h3 {
    color: var(--white);
    position: relative;
    z-index: 1;
}
.description-box {
    max-width: 33rem;
}
.service-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.service-list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 7rem;
    text-align: justify;
}
.service-list-box figure {
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    background: var(--white);
}
.service-list-box figure.blue {
    border: var(--blue) 0.5rem solid;
}
.service-list-box figure.green {
    border: var(--green) 0.5rem solid;
}
.service-list-box span.blue {
    font-size: 3rem;
    color: var(--blue);
}
.service-list-box span.green {
    font-size: 3rem;
    color: var(--green);
}

/*OUR VALUES*/
#our-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;

    color: var(--black);

    height: 30rem;
    gap: 2rem;
    position: relative;
}
#our-values::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
    background: url("../asset/pattern-4.png") center/cover no-repeat;
}
#our-values::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background-color: var(--white);
}
.value-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    z-index: 1;
}
#our-values h2 {
    position: relative;
    z-index: 1;
 }
.value-list h3:nth-child(1) {
    color: var(--green);
}
.value-list h3:nth-child(2) {
    color: var(--orange);
}
.value-list h3:nth-child(3) {
    color: var(--blue);
}
.value-list h3:nth-child(4) {
    color: var(--purple);
}

/*PARTNERS*/
#partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    gap: 4rem;
}
.partner-list-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    background: url("../asset/starry-night-sky 1.png") center/cover no-repeat;
}
.partner-list {
    width: 70rem;
    overflow: scroll;

}
.partner-list::-webkit-scrollbar {
    height: 0.3rem;
}
.partner-list::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 5px;
}
.partner-list-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.partner-card {
    padding: 5rem;
    width: 15rem;
    height: 17rem;
    background: #ffffff;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.partner-card-content {
    width: 12rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.partner-card-content figure {
    width: 12rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-card figure img {
    width: 10rem;
}
.partner-card p {
    font-size: 0.8rem;
}
.list-square {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.square {
    width: 1rem;
    height: 1rem;
}
.square:nth-child(1) {
    background: var(--blue);
    transition: 0.15s ease;
}
.square:nth-child(1):hover {
    transform: rotate(10deg);
    transition: 0.15s ease;
}
.square:nth-child(2) {
    background: #0D6C7F;
    transform: rotate(10deg);
    transition: 0.15s ease;
}
.square:nth-child(2):hover {
    background: #0D6C7F;
    transform: rotate(20deg);
    transition: 0.15s ease;
}
.square:nth-child(3) {
    background: #0D7F7F;
    transform: rotate(20deg);
    transition: 0.15s ease;
}
.square:nth-child(3):hover {
    background: #0D7F7F;
    transform: rotate(30deg);
    transition: 0.15s ease;
}
.square:nth-child(4) {
    background: #24BDA3;
    transform: rotate(30deg);
    transition: 0.15s ease;
}
.square:nth-child(4):hover {
    transform: rotate(40deg);
    transition: 0.15s ease;
}
.square:nth-child(5) {
    background: var(--green);
    transform: rotate(40deg);
    transition: 0.15s ease;
}
.square:nth-child(5):hover {
    transform: rotate(50deg);
    transition: 0.15s ease;
}

/*LATEST NEWS*/
.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.news-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 12rem;
    border-radius: 2rem;
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.50);
    overflow: hidden;
}
.news-card figure {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
}
.news-card figure img {
    width: 40rem;
    height: 12rem;
}
.news-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;
    height: 12rem;

    text-align: justify;
}
.news-card-content-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem;
}
.news-card-content h5 {
    font-weight: 600;
    font-size: 0.95rem;
    height: 4rem;
}
.news-card-content p {
    font-size: 0.75rem;
    height: 6rem;
}

/*MEDIA QUERIES*/
@media (max-width: 1050px) {
    html {
        font-size: 14px;
    }
    #hero {
        height: 50vh;
        background-position-y: 0rem;
    }
    .hero-content {
        margin: 0 5rem 0 5rem;
    }
    #hero::after {
        top: 0;
        height: 80vh;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 12px;
    }

    /*NAVBAR*/
    #navbar {
        width: 25rem;
    }
    .navigation-content-right {
        position: absolute;
        top: 100%;
        right: -200%;
        background: var(--black);
        width: 20rem;
        height: 100vh;
        transition: 0.35s ease-in-out;
        flex-direction: column;
    }
    .navigation-content-right.active {
        right: -5rem;
        transition: 0.35s ease-in-out;
    }
    .navigation-content-right a {
        display: block;
        margin: 1rem;
        font-size: 1.5rem;
    }
    .hamburger-menu {
        color: var(--white);
        display: block;
        transition: 0.35s ease-in-out;
    }
    .hamburger-menu.active {
        color: var(--blue);
        transition: 0.35s ease-in-out;
    }

    /*HERO SECTION*/
    #hero {
        height: 50vh;
        background-position-y: 0rem;
    }
    .hero-content {
        margin: 0 5rem 0 5rem;
    }
    #hero::after {
        top: 0;
        height: 80vh;
    }

    /*ABOUT US*/
    #about-us {
        height: 100%;
    }
    .company-glimpse {
        width: 12rem;
    }

    /*LATEST NEWS*/
    .news-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .news-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27rem;
        height: 10rem;
        border-radius: 2rem;
        box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.50);
        overflow: hidden;
    }
    .news-card figure {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 30%;
    }
    .news-card figure img {
        width: 40rem;
        height: 12rem;
    }
    .news-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 70%;
        height: 12rem;

        text-align: justify;
    }
    .news-card-content-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 16rem;
    }
    .news-card-content h5 {
        font-weight: 600;
        font-size: 0.65rem;
        height: 3rem;
    }
    .news-card-content p {
        font-size: 0.5rem;
        height: 4rem;
    }
}
